.splash-screen {
	width: 100%;
	height: 100vh;
	background-color: #344091;
	color: #bce3f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.splash-screen .loading-dot {
	font-size: 100px;
	margin-top: -80px;
	position: relative;
	animation: ease-in-out infinite alternate;
	animation-name: run;
	animation-duration: 1.2s;
}

@keyframes run {
	0% {
		left: -90px;
		color: #3462a8;
	}
	50% {
		color: #bce3f8;
	}
	100% {
		left: 90px;
		color: #3462a8;
	}
}
