.login-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/img/login-background.jpg');
	background-size: cover;
}

.login {
	max-width: 600px;
	width: 100%;
}

.login .login-form-forgot {
	float: right;
}

.login-form .login-title {
	text-align: center;
}

.login-form .login-form-forgot {
	float: right;
}

.login-form .login-form-button {
	width: 100%;
}
